.headerCon{
    display: flex;
    justify-content:space-between;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    display: flex;
    justify-content: flex-end;
    margin-left: 25px;
    /* color: rgb(65, 65, 119); */
}
.content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    width: 20%;
    margin-right: 25px;
}
.bgPhoto{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image:url(./tableware.jpg);
    background-size: 100% 100%;
    height: 500px;
}
.srch{
    margin-top: 125px;
    padding: 2px;
}
.bP{
    background-color: darkgreen;
    display: flex;
    margin-top: 125px;
}
footer{
    margin-top: 20px;
}
h2{
    display: inline-flex;
   padding-right: 300px;
    padding-left: 250px;
}
.ff{
    display: flex;
    justify-content: flex-end;
    width: 35px;
    height:35px;
}
.footermain{
    display: flex;
    justify-content: space-evenly;
}
.footerleft{
    width: 250px;
}
.fundi{
    display: flex;
    flex-direction: row;
    justify-content: center;
}