@media screen and (max-width:600px){
    .topNav a:not(:first-child){display: none;}
    .topNav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width:600px){
    .topNav.responsive {position: relative;}
    .topNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
.headerCon{
    display: flex;
    justify-content:space-between;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    display: flex;
    justify-content: flex-end;
    margin-left: 25px;
}
.content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 20%;
    margin-right: 25px;
}
.bgPhoto{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image:url(homephto.jpg);
    background-size: 100% 100%;
    height: 300px;
}
button{
    width: 30px;
    border: inset 0px;
}

.srch{
    margin: 200px;
    width: auto;
    margin-top: 0px;
    
}
.bP{
    background-color: darkgreen;
    display: flex;
    margin-top: 125px;
}
.topNav{
    overflow: hidden;
}
.topNav a:hover {
    background-color: aliceblue
    color(black);
}
.topNav a.active {
    background-color: red;
    color: white;
}
.topNav .icon{
    display: none;
}
.stk{
    width: 400px;
    height: 350px;
}
footer{
    margin-top: 20px;
}
h2{
    display: inline-flex;
   padding-right: 300px;
    padding-left: 250px;
}
.ff{
    display: flex;
    justify-content: flex-end;
    width: 35px;
    height:35px;
}
.footermain{
    display: flex;
    justify-content: space-evenly;
}
.footerLeft{
    width: 250px;
}
.fundi{
    display: flex;
    flex-direction: row;
    justify-content: center;
}.headerCon{
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
}
.logo{
    display: flex;
    justify-content: flex-end;
    margin-left: 25px;
}
.content{
    display: flex;
    justify-content: space-between;
}